@media screen and (min-width: 1440px) {
  .header a{
    font-size: 15px;
  }
  .content {
    padding-top: 15%;
  }
  .content__desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
