#burger-menu {
  cursor: pointer;
  height: 20px;
  width: 20px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #000;
  display: block;
  height: 2px;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0;
  top: 10px;
  width: 18px;
}
#burger-menu span:before {
  right: 0;
  top: -8px;
  width: 18px;
}
#burger-menu span:after {
  left: 0px;
  top: 8px;
  width: 25px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 10px;
  width: 24px;
  background: white;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 24px;
  background: white;
}
#burger-menu.close span:after {
  top: 0;
  right: 0;
  transform: rotate(90deg);
  opacity: 1;
  width: 0;
}



#menu {
  z-index: 1;
  min-width: 40%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(10px);
}

#menu li {
  list-style: none;
}
#menu a {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}