@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
/*--------------------HEADER---------------------*/
a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 13px;
  transition: all 0.8s ease;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}

/* .header--leftside {
  width: 60%;
  justify-content: space-between;
} */

.header__logo {
  margin: 20px 0 0 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.header__links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items {
  width: 40%;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop__link {
  color: black;
  font-weight: 500;
}

.header__icons {
  display: flex;
}

.search-btn{
  margin: 5px 10px 0 0;
  width: 13px;  
  height: 13px;
  cursor: pointer;
}

.logo {
  color: black;
}

.header__link:hover {
  color: black;
  transition: all 0.8s ease;
}
/*-----------------------PAGES----------------------------*/

.pages {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom 0.7s;
  display: flex;
}

.page:first-child {
  bottom: 0;
}

.page--blue {
  background-color: #90a6be;
}

.page--green {
  background-color: #b0bcb0;
}

.page--brown {
  background-color: #cec0b2;
}

.page--pink {
  background-color: #cc9a97;
}

.page__img {
  height: 100%;
  width: 60%;
}

.page__img--blue {
  background: url("../img/blue-bg.jpg") center / cover;
}

.page__img--green {
  background: url("../img/green-bg.jpg") center / cover;
}

.page__img--brown {
  background: url("../img/brown-bg.jpg") center / cover;
}

.page__img--pink {
  background: url("../img/pink-bg.jpg") center / cover;
}

/*--------------------CONTENT----------------------------*/

.content {
  padding: 10% 4% 0;
  width: 40%;
}

.content__text {
  color: white;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3px;
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
}

.dot--brown {
  color: #a66142;
}

.dot--green {
  color: #818f82;
}

.dot--grey {
  color: #847465;
}

.dot--pink {
  color: #b6635d;
}

.content__desc {
  margin: 10% 0;
  font-size: 15px;
}

.content__button {
  width: 40%;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #f3dda3;
  border-radius: 8px;
  border: 0;
  transition: all 0.8s ease;
}

.content__button:hover {
  background-color: rgb(243, 221, 163, 0.5);
  transition: all 0.8s ease;
}

/*-----------------------BUTTONS-------------------------*/

.catalog {
  position: absolute;
  bottom: 10%;
  right: 7%;
  height: 60px;
  display: flex;
}

.catalog__btn {
  padding-left: 15px;
  margin: 0 5px;
  width: 180px;
  height: 100%;
  border-radius: 8px;
  border: 0;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  transition: all 0.8s ease;
}

.catalog__text,
.catalog__price {
  text-align: left;
  padding-top: 4px;
}

.catalog__price {
  font-size: 15px;
}

.catalog__btn--blue:hover {
  background-color: #a66142;
  color: white;
  transition: all 0.8s ease;
}

.catalog__btn--green:hover {
  background-color: #818f82;
  color: white;
  transition: all 0.8s ease;
}

.catalog__btn--brown:hover {
  background-color: #847465;
  color: white;
  transition: all 0.8s ease;
}

.catalog__btn--pink:hover {
  background-color: #b6635d;
  color: white;
  transition: all 0.8s ease;
}
/*---------------PAGINATION------------------*/

.pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination > li {
  list-style: none;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-top: 10px;
  transition: background 0.7s;
  cursor: pointer;
}

.pagination > li.active:nth-of-type(1) {
  background: #a66142;
}

.pagination > li.active:nth-of-type(2) {
  background: #818f82;
}

.pagination > li.active:nth-of-type(3) {
  background: #847465;
}

.pagination > li.active:nth-of-type(4) {
  background: #b6635d;
}


